
{% if request.user.is_authenticated  %}
<p>{{ request.user}}</p>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{%else%}
<a href="{% url 'login'  %}">logout</a>

{% endif %}


 
<h1> My todo List</h1>

<hr>
<a href="{% url 'createtask'  %}"> add task </a>

<table>
    
    <tr>
        <th> items</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td> {{task.title}}</td>
        <td> <a href="{% url 'task' task.id %}">view</a></td>
        <td> <a href="{% url 'updatetask' task.id %}">update</a></td>
        <td> <a href="{% url 'deletetask' task.id %}">delete</a></td>
    </tr>

    {% empty %}
    <h3>no items in list</h3>
    {% endfor%}
</table>